body {
  display: grid;
  grid-template-rows: 0.5fr 4fr 1.5fr;
  height: 95vh;
}

.top-div {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.title-div {
  display: flex;
}

.title-div > h1 {
  margin: 0;
}

/* .game-message > h3 {
  
} */

.middle-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.middle-left-div,
.middle-right-div {
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 100%;
}

.board {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  height: 90%;
  width: 80%;
}

.row {
  display: flex;
  height: 10%;
  width: 100%;
}

.square {
  border: 1px black solid;
  height: 100%;
  width: 10%;
}

.ship {
  background-color: turquoise;
}

.hit {
  background-color: darkgray;
}

.hit.ship {
  background-color: red;
}

.bottom-div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.ship-select {
  width: 60%;
  height: 100%;
  border: black 2px solid;
  display: flex;
  margin-right: 5%;
}

.ship-select > div {
  background-color: aliceblue;
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotate {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.place-ship {
  width: 30%;
  border: 1px solid black;
  cursor: pointer;
}

.place-square {
  background-color: darkgray;
  border: 1px solid black;
  width: 100%;
  height: 5vh;
}

.ghost {
  position: absolute;
  pointer-events: none;
  width: 6vh;
  border: 1px solid black;
}

.moving-ship {
  position: absolute;
  width: 6vh;
  pointer-events: none;
  background-color: darkgray;
  border: 1px solid black;
}

.ghost > div {
  width: 6vh;
  height: 5vh;
  border: 1px black solid;
}

.horizontal {
  display: flex;
  height: 6vh;
  width: auto;
}

.horizontal > div {
  height: 6vh;
}

.selected {
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
  background-color: blue;
}

.name-background {
  background-color: black;
  position: absolute;
  height: 150vh;
  width: 150vh;
}

.enter-name {
  width: 200px;
  height: 200px;
  background-color: lightgreen;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
