body {
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
}

.top-div {
  display: flex;
  justify-content: center;
}

.title-div {
  display: flex;
}

.middle-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.middle-left-div,
.middle-right-div {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.board {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
}

.row {
  display: flex;
}

.square {
  border: 1px black solid;
  height: 40px;
  width: 40px;
}

.ship {
  background-color: blue;
}

.hit {
  background-color: darkgray;
}

.hit.ship {
  background-color: red;
}

.bottom-div {
  display: flex;
  justify-content: center;
}
